@using Discord.WebSocket
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="@Id">@DisplayName</span>
    </div>
    <select class="custom-select" name="@Name" id="@Id" form="@ParentFormId">
        @if ((SelectedChannelId ?? 0) == 0)
        {
            <option value="" selected>None</option>
        }
        else
        {
            <option value="">None</option>
        }
        @foreach (var channel in Channels)
        {
            @if (@channel.Id == SelectedChannelId)
            {
                <option value="@channel.Id" selected>@channel.Name</option>
            }
            else
            {
                <option value="@channel.Id">@channel.Name</option>
            }
        }
    </select>
</div>

@code {}