@using XeniaBot.WebPanel.Helpers
@using XeniaDiscord.Data.Models.BanSync
@using XeniaBot.WebPanel.Models.BanSyncSearch
@model RowModel

@{
    var nextPageUrl = $"/BanSync/Search/MutualRecords/{Model.GuildId}/PageComponent?page={Model.Page + 1}";
    
    var reasonText = Model.Record.Reason?.Trim();
    if (reasonText != null)
    {
        var pl = reasonText.Length;
        reasonText = reasonText.Substring(0, Math.Min(50, reasonText.Length));
        if (reasonText.Length != pl)
        {
            reasonText += "...";
        }
    }
}

<tr @if (Model.IsLast)
{
    <text>
    hx-get="@nextPageUrl"
    hx-trigger="revealed"
    hx-swap="beforeend"
    hx-indicator=".htmx-indicator"
    </text>
} >
    <td>
        <img src="@AspHelper.GetUserProfilePicture(Model.Record.GetUserId())"
             class="card-img-top smallUserIcon" />
        @Model.Record.UserPartialSnapshot.FormatUsername()
    </td>
    <td>
        <img src="@AspHelper.GetGuildImage(Model.Record.GetGuildId())"
             class="card-img-top smallUserIcon" />
        @Model.Record.GuildName<br/>
        <sup><code>@Model.Record.GuildId</code></sup>
    </td>
    <td>
        @Model.Record.CreatedAt.ToString("yyyy/MM/dd HH:mm:ss tt")
    </td>
    <td>
        <code>@reasonText</code>
    </td>
    <td>
        <a class="btn btn-secondary"
           asp-route-id="@Model.Record.Id"
           asp-controller="BanSync"
           asp-action="Record"></a>
    </td>
</tr>