@using kate.shared.Helpers
@using XeniaBot.Data.Models
@using XeniaBot.Shared.Helpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using XeniaBot.WebPanel.Helpers
@using XeniaBot.WebPanel.Controllers
@model AdminServerModel

@{
    ViewData["Title"] = @Model.Guild.Name + " (Admin)";
}

@await Component.InvokeAsync("GuildBanner", new GuildBannerViewParameters(@Model.Guild.Id))

<div class="row d-flex flex-row mt-3">
    <div class="col-auto mr-1">
        <div class="card card-sm">
            <div class="card-header">
                Details
            </div>
            <div class="card-body">
                <table class="table table-sm">
                    <tr>
                        <th>Created At</th>
                        <td>@Model.Guild.CreatedAt</td>
                    </tr>
                    <tr>
                        <th>Member Count</th>
                        <td>@Model.Guild.MemberCount</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<hr/>

<h3 id="settings">Settings</h3>
<div class="row d-flex flex-row">
    <div class="mr-1 mb-1 col-auto">
        <div class="card card-sm">
            <div class="card-header">
                Ban Sync
            </div>
            <div class="card-body" id="settingsBanSync-body"
                 hx-get="/Admin/Server/@Model.Guild.Id/Settings/BanSync/Component"
                 hx-target="this"
                 hx-trigger="load"
                 hx-swap="innerHTML"
                 hx-indicator="#settingsBanSync-body .htmx-indicator">
                <div class="d-flex justify-content-center">
                    <div class="spinner-border htmx-indicator" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mr-1 mb-1 col-auto">
        <div class="card card-sm">
            <div class="card-header">
                BanSync State History
            </div>
            <div class="card-body"
                 id="banSyncHistory-body"
                 hx-get="/Admin/Server/@Model.Guild.Id/Settings/BanSyncHistory/Component"
                 hx-target="this"
                 hx-trigger="load"
                 hx-swap="innerHTML"
                 hx-indicator="#banSyncHistory-body .htmx-indicator">
                <div class="d-flex justify-content-center">
                    <div class="spinner-border htmx-indicator" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mr-1 mb-1 col-auto">
        <div class="card card-sm">
            <div class="card-header">
                Xp System
            </div>
            <div class="card-body"
                 id="levelSystem-body"
                 hx-get="/Admin/Server/@Model.Guild.Id/Settings/LevelSystem/Component"
                 hx-target="this"
                 hx-trigger="load"
                 hx-swap="innerHTML"
                 hx-indicator="#levelSystem-body .htmx-indicator">
                <div class="d-flex justify-content-center">
                    <div class="spinner-border htmx-indicator" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mr-1 mb-1 col-auto">
        <div class="card card-sm">
            <div class="card-header">
                Confession
            </div>
            <div class="card-body"
                 id="confession-body"
                 hx-get="/Admin/Server/@Model.Guild.Id/Settings/Confession/Component"
                 hx-target="this"
                 hx-trigger="load"
                 hx-swap="innerHTML"
                 hx-indicator="#confession-body .htmx-indicator">
                <div class="d-flex justify-content-center">
                    <div class="spinner-border htmx-indicator" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mr-1 mb-1 col-auto">
        <div class="card card-sm">
            <div class="card-header">
                Counting
            </div>
            <div class="card-body">
                <form id="counter_settings" enctype="application/x-www-form-urlencoded" method="post" asp-controller="Admin" asp-action="SaveSettings_Counting" asp-route-id="@Model.Guild.Id">
                    @await Component.InvokeAsync("ChannelSelect", new ChannelSelectModel()
                    {
                        Channels = StrippedChannel.FromGuild(@Model.Guild),
                        Categories = StrippedCategory.FromGuild(@Model.Guild),
                        SelectedChannelId = @Model.CounterConfig.ChannelId,
                        ParentFormId = "counter_settings",
                        Name = "inputChannelId",
                        Id = "inputChannelId",
                        DisplayName = "Channel"
                    })
                    <input class="btn btn-success" type="submit" value="Save"/>
                </form>
            </div>
        </div>
    </div>
    <div class="mr-1 mb-1 col-auto">
        <div class="card card-sm">
            <div class="card-header">
                Role Preserve
            </div>
            <div class="card-body">
                <form id="role_preserve" enctype="application/x-www-form-urlencoded" method="post" asp-controller="Admin" asp-action="SaveSettings_RolePreserve" asp-route-id="@Model.Guild.Id">
                      <div class="form-check mb-3">
                            <input class="form-check-input" name="enable" type="checkbox" value="true" id="role_preserve_enable" checked="@Model.RolePreserve.Enable" />
                            <label class="form-check-label" for="role_preserve_enable">Enable</label>
                      </div>
                      <input class="btn btn-success" type="submit" value="Save"/>
                </form>
            </div>
        </div>
    </div>
</div>
