@using kate.shared.Helpers
@using XeniaBot.Data.Models
@using XeniaBot.Shared.Helpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using XeniaBot.WebPanel.Helpers
@using XeniaBot.WebPanel.Controllers
@model AdminServerModel

@{
    ViewData["Title"] = @Model.Guild.Name + " (Admin)";
}

@await Component.InvokeAsync("GuildBanner", @Model.Guild.Id)

<div class="row d-flex flex-row mt-3">
    <div class="col-auto mr-1">
        <div class="card card-sm">
            <div class="card-header">
                Details
            </div>
            <div class="card-body">
                <table class="table table-sm">
                    <tr>
                        <th>Created At</th>
                        <td>@Model.Guild.CreatedAt</td>
                    </tr>
                    <tr>
                        <th>Member Count</th>
                        <td>@Model.Guild.MemberCount</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<hr/>

<h3 id="settings">Settings</h3>
<div class="row d-flex flex-row">
    <div class="mr-1 mb-1 col-auto">
        <div class="card card-sm">
            <div class="card-header">
                Ban Sync
            </div>
            <div class="card-body">
                @if (@Model.BanSyncConfig.LogChannel == 0)
                {
                    <div class="alert alert-sm alert-warning mb-2" role="alert">
                        Log Channel isn't set.
                    </div>
                }
                <form id="setting_bansync" enctype="application/x-www-form-urlencoded" method="post" asp-controller="Admin" asp-action="SaveSettings_BanSyncState" asp-route-id="@Model.Guild.Id">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="setting_bansync_state" style="width: 6rem">State</label>
                        </div>
                        <select class="custom-select" name="State" id="setting_bansync_state" form="setting_bansync">
                            @foreach (var item in GeneralHelper.GetEnumList<BanSyncGuildState>())
                            {
                                if (@item == @Model.BanSyncConfig.State)
                                {
                                    <option value="@item" selected>@item</option>
                                }
                                else
                                {
                                    <option value="@item">@item</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="setting_bansync_reason" style="width: 6rem">Reason</label>
                        </div>
                        <input type="text" class="form-control" name="Reason" id="setting_bansync_reason" form="setting_bansync"/>
                    </div>
                    <input class="btn btn-primary-outline" type="submit" value="Submit"/>
                </form>
            </div>
        </div>
    </div>
    <div class="mr-1 mb-1 col-auto">
        <div class="card card-sm">
            <div class="card-header">
                BanSync State History
            </div>
            <div class="card-body">
                @if (@Model.BanSyncStateHistory.Count() < 1)
                {
                    <i>No records</i>
                }
                else
                {
                    <table class="table table-responsive" id="banSyncStateHistory">
                        <thead>
                        <tr>
                            <th>Timestamp</th>
                            <td>Enable</td>
                            <td>State</td>
                            <td>Reason</td>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in @Model.BanSyncStateHistory.OrderBy(v => v.Timestamp))
                        {
                            <tr>
                                <th>@(AspHelper.DateTimeFromTimestamp(@item.Timestamp).ToString())</th>
                                <td>@item.Enable</td>
                                <td>@item.State</td>
                                <td><code>@item.Reason</code></td>
                            </tr>
                        }
                        </tbody>
                    </table>
                }
            </div>
        </div>
    </div>
    <div class="mr-1 mb-1 col-auto">
        <div class="card card-sm">
            <div class="card-header">
                Xp System
            </div>
            <div class="card-body">
                <form id="xp_settings" enctype="application/x-www-form-urlencoded" method="post" asp-controller="Admin" asp-action="SaveSettings_Xp" asp-route-id="@Model.Guild.Id">
                    <div class="form-check mb-3">
                        <input class="form-check-input" type="checkbox" value="true" id="xp_settings_enable" name="enable" checked="@Model.XpConfig.Enable" />
                        <label class="form-check-label" for="xp_settings_enable">
                            Enable
                        </label>
                    </div>
                    <div class="form-check mb-3">
                        <input class="form-check-input" type="checkbox" value="true" id="xp_settings_show" name="show" checked="@Model.XpConfig.ShowLeveUpMessage"/>
                        <label class="form-check-label" for="xp_settings_show">
                            Show Level Up Message
                        </label>
                    </div>
                    @await Component.InvokeAsync("ChannelSelect", new ChannelSelectModel()
                           {
                               Channels = StrippedChannel.FromGuild(@Model.Guild),
                               Categories = StrippedCategory.FromGuild(@Model.Guild),
                               SelectedChannelId = @Model.XpConfig.LevelUpChannel,
                               ParentFormId = "xp_settings",
                               Name = "channelId",
                               Id = "xp_settings_channel",
                               DisplayName = "Notification Channel"
                           })
                    <input class="btn btn-success" type="submit" value="Save"/>
                </form>
            </div>
        </div>
    </div>
    <div class="mr-1 mb-1 col-auto">
        <div class="card card-sm">
            <div class="card-header">
                Confession
            </div>
            <div class="card-body">
                <form id="confession_settings" enctype="application/x-www-form-urlencoded" method="post" asp-controller="Admin" asp-action="SaveSettings_Confession" asp-route-id="@Model.Guild.Id">
                    @await Component.InvokeAsync("ChannelSelect", new ChannelSelectModel()
                           {
                               Channels = StrippedChannel.FromGuild(@Model.Guild),
                               Categories = StrippedCategory.FromGuild(@Model.Guild),
                               SelectedChannelId = @Model.CounterConfig.ChannelId,
                               ParentFormId = "confession_settings",
                               Name = "MessageChannelId",
                               Id = "confession_settings_channel_out",
                               DisplayName = "Message Channel"
                           })
                    @await Component.InvokeAsync("ChannelSelect", new ChannelSelectModel()
                           {
                               Channels = StrippedChannel.FromGuild(@Model.Guild),
                               Categories = StrippedCategory.FromGuild(@Model.Guild),
                               SelectedChannelId = @Model.CounterConfig.ChannelId,
                               ParentFormId = "confession_settings",
                               Name = "ModalChannelId",
                               Id = "confession_settings_channel_modal",
                               DisplayName = "Modal Channel"
                           })
                    <a class="btn btn-danger mr-2" asp-controller="Server" asp-action="SaveSettings_Confession_Purge" asp-route-id="@Model.Guild.Id">Purge</a>
                    <input class="btn btn-success" type="submit" value="Save"/>
                </form>
            </div>
        </div>
    </div>
    <div class="mr-1 mb-1 col-auto">
        <div class="card card-sm">
            <div class="card-header">
                Counting
            </div>
            <div class="card-body">
                <form id="counter_settings" enctype="application/x-www-form-urlencoded" method="post" asp-controller="Admin" asp-action="SaveSettings_Counting" asp-route-id="@Model.Guild.Id">
                    @await Component.InvokeAsync("ChannelSelect", new ChannelSelectModel()
                       {
                           Channels = StrippedChannel.FromGuild(@Model.Guild),
                           Categories = StrippedCategory.FromGuild(@Model.Guild),
                           SelectedChannelId = @Model.CounterConfig.ChannelId,
                           ParentFormId = "counter_settings",
                           Name = "inputChannelId",
                           Id = "inputChannelId",
                           DisplayName = "Channel"
                       })
                    <input class="btn btn-success" type="submit" value="Save"/>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
    $(document).ready(function () {
      $('#banSyncStateHistory').DataTable({
        "searching": true
      });
      $('.dataTables_length').addClass('bs-select');
    });
    </script>
}
