@using kate.shared.Helpers
@using XeniaBot.Data.Models
@using XeniaBot.Shared.Helpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using XeniaBot.WebPanel.Helpers
@model AdminServerModel

@{
    ViewData["Title"] = @Model.Guild.Name + " (Admin)";
}

<div class="d-flex flex-row align-items-center p-3 text-white rounded shadow-sm bg-dark">
    <img class="me-3 rounded-circle mr-3" src="@Model.Guild.IconUrl" alt="" width="48" height="48">
    <div class="lh-1">
        <h1 class="h6 mb-0 text-white lh-1">@Model.Guild.Name</h1>
        <small>@Model.Guild.MemberCount members</small>
    </div>
</div>

<div class="row d-flex flex-row mt-3">
    <div class="col-auto mr-1">
        <div class="card card-sm">
            <div class="card-header">
                Details
            </div>
            <div class="card-body">
                <table class="table table-sm">
                    <tr>
                        <th>Created At</th>
                        <td>@Model.Guild.CreatedAt</td>
                    </tr>
                    <tr>
                        <th>Member Count</th>
                        <td>@Model.Guild.MemberCount</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<hr/>

<h3 id="settings">Settings</h3>
<div class="row d-flex flex-row">
    <div class="mr-1 mb-1 col-auto">
        <div class="card card-sm">
            <div class="card-header">
                Ban Sync
            </div>
            <div class="card-body">
                @if (@Model.BanSyncConfig.LogChannel == 0)
                {
                    <div class="alert alert-sm alert-warning mb-2" role="alert">
                        Log Channel isn't set.
                    </div>
                }
                <form id="setting_bansync" enctype="application/x-www-form-urlencoded" method="post" asp-controller="Admin" asp-action="SaveSettings_BanSyncState" asp-route-id="@Model.Guild.Id">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="setting_bansync_state" style="width: 6rem">State</label>
                        </div>
                        <select class="custom-select" name="State" id="setting_bansync_state" form="setting_bansync">
                            @foreach (var item in GeneralHelper.GetEnumList<BanSyncGuildState>())
                            {
                                if (@item == @Model.BanSyncConfig.State)
                                {
                                    <option value="@item" selected>@item</option>
                                }
                                else
                                {
                                    <option value="@item">@item</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="setting_bansync_reason" style="width: 6rem">Reason</label>
                        </div>
                        <input type="text" class="form-control" name="Reason" id="setting_bansync_reason" form="setting_bansync"/>
                    </div>
                    <input class="btn btn-primary-outline" type="submit" value="Submit"/>
                </form>
            </div>
        </div>
    </div>
    <div class="mr-1 mb-1 col-auto">
        <div class="card card-sm">
            <div class="card-header">
                BanSync State History
            </div>
            <div class="card-body">
                @if (@Model.BanSyncStateHistory.Count() < 1)
                {
                    <i>No records</i>
                }
                else
                {
                    <table class="table table-responsive" id="banSyncStateHistory">
                        <thead>
                        <tr>
                            <th>Timestamp</th>
                            <td>Enable</td>
                            <td>State</td>
                            <td>Reason</td>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in @Model.BanSyncStateHistory.OrderBy(v => v.Timestamp))
                        {
                            <tr>
                                <th>@(AspHelper.DateTimeFromTimestamp(@item.Timestamp).ToString())</th>
                                <td>@item.Enable</td>
                                <td>@item.State</td>
                                <td><code>@item.Reason</code></td>
                            </tr>
                        }
                        </tbody>
                    </table>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
    $(document).ready(function () {
      $('#banSyncStateHistory').DataTable({
        "searching": true
      });
      $('.dataTables_length').addClass('bs-select');
    });
    </script>
}
