@model ServerDetailsViewModel

<form id="confession_settings" enctype="application/x-www-form-urlencoded" method="post" asp-controller="Server" asp-action="SaveSettings_Confession" asp-route-id="@Model.Guild.Id">
    
    @await Component.InvokeAsync("ChannelSelect", new ChannelSelectModel()
       {
           Channels = StrippedChannel.FromGuild(@Model.Guild),
           Categories = StrippedCategory.FromGuild(@Model.Guild),
           SelectedChannelId = @Model.CounterConfig.ChannelId,
           ParentFormId = "confession_settings",
           Name = "MessageChannelId",
           Id = "confession_settings_channel_out",
           DisplayName = "Message Channel"
       })
    @await Component.InvokeAsync("ChannelSelect", new ChannelSelectModel()
       {
           Channels = StrippedChannel.FromGuild(@Model.Guild),
           Categories = StrippedCategory.FromGuild(@Model.Guild),
           SelectedChannelId = @Model.CounterConfig.ChannelId,
           ParentFormId = "confession_settings",
           Name = "ModalChannelId",
           Id = "confession_settings_channel_modal",
           DisplayName = "Modal Channel"
       })
    <a class="btn btn-danger mr-2" asp-controller="Server" asp-action="SaveSettings_Confession_Purge" asp-route-id="@Model.Guild.Id">Purge</a>
    <input class="btn btn-success" type="submit" value="Save"/>
</form>