@model ServerDetailsViewModel

<form id="greeter_settings" enctype="application/x-www-form-urlencoded" method="post" asp-controller="Server" asp-action="SaveSettings_Greeter" asp-route-id="@Model.Guild.Id">
    @await Component.InvokeAsync("ChannelSelect", new ChannelSelectModel()
    {
        Channels = StrippedChannel.FromGuild(@Model.Guild),
        Categories = StrippedCategory.FromGuild(@Model.Guild),
        SelectedChannelId = @Model.GreeterConfig.ChannelId,
        ParentFormId = "greeter_settings",
        Name = "inputChannelId",
        Id = "inputChannelId",
        DisplayName = "Channel"
    })
    <div class="form-check">
        <input class="form-check-input" name="inputMentionUser" type="checkbox" value="true" id="inputMentionUser">
        <label class="form-check-label" for="inputMentionUser">
            Mention User
        </label>
    </div>
    <hr/>
    <h4>Embed Style</h4>
    <table>
        <tr>
            <td style="width: 40vw" class="pr-4">
                <div class="form-group">
                    <label for="embed_example_title">Title</label>
                    <input class="form-control" type="text" name="inputTitle" id="embed_example_title" embed-field="title" embed-id="greeter_settings" value="@Model.GreeterConfig.T_Title" />
                </div>
                <div class="form-group">
                    <label for="embed_example_desc">Description</label>
                    <textarea class="form-control" name="inputDescription" id="embed_example_desc" embed-field="description" embed-id="greeter_settings">@Model.GreeterConfig.T_Description</textarea>
                </div>
                <hr/>
                <div class="form-group">
                    <label for="embed_example_img">Image Url</label>
                    <input class="form-control" type="text" name="inputImgUrl" id="embed_example_img" embed-field="image" embed-id="greeter_settings" value="@Model.GreeterConfig.T_ImageUrl"/>
                </div>
                <div class="form-group">
                    <label for="embed_example_thumb">Thumbnail Url</label>
                    <input class="form-control" type="text" name="inputThumbUrl" id="embed_example_thumb" embed-field="thumbnail" embed-id="greeter_settings" value="@Model.GreeterConfig.T_ThumbnailUrl" />
                </div>
                <hr/>
                <div class="form-group">
                    <label for="embed_example_footer_text">Footer Text</label>
                    <input class="form-control" type="text" name="inputFooterText" id="embed_example_footer_text" embed-field="footer-text" embed-id="greeter_settings" value="@Model.GreeterConfig.T_FooterText"/>
                </div>
                <div class="form-group">
                    <label for="embed_example_footer_img">Footer Image Url</label>
                    <input class="form-control" type="text" name="inputFooterImgUrl" id="embed_example_footer_img" embed-field="footer-img" embed-id="greeter_settings" value="@Model.GreeterConfig.T_FooterImgUrl"/>
                </div>
                <hr/>
                <div class="form-group">
                    <label for="embed_example_author_name">Author Text</label>
                    <input class="form-control" type="text" name="inputAuthorText" id="embed_example_author_name" embed-field="author-text" embed-id="greeter_settings" value="@Model.GreeterConfig.T_AuthorName"/>
                </div>
                <div class="form-group">
                    <label for="embed_example_author_img">Author Image Url</label>
                    <input class="form-control" type="text" name="inputAuthorImgUrl" id="embed_example_author_img" embed-field="author-img" embed-id="greeter_settings" value="@Model.GreeterConfig.T_AuthorIconUrl"/>
                </div>
                <hr/>
                <div class="form-group">
                    <label for="embed_example_color">Color</label>
                    <input class="form-control" type="color" name="inputColor" id="embed_example_color" embed-field="color" embed-id="greeter_settings" value="@Model.GreeterConfig.T_Color_Hex"/>
                </div>
            </td>
            <td>
                @await Component.InvokeAsync("EmbedViewer", new EmbedViewerModel()
                {
                    Id = "greeter_settings"
                })
            </td>
        </tr>
    </table>
    <input class="btn btn-success" type="submit" value="Save"/>
</form>