@using XeniaBot.Data.Models
@model ServerDetailsViewModel

<!DOCTYPE html>

<form id="xp_settings" enctype="application/x-www-form-urlencoded" method="post" asp-controller="Server" asp-action="SaveSettings_Xp" asp-route-id="@Model.Guild.Id">
    <div class="form-check mb-3">
        <input class="form-check-input" type="checkbox" value="true" id="xp_settings_enable" name="enable" checked="@Model.XpConfig.Enable" />
        <label class="form-check-label" for="xp_settings_enable">
            Enable
        </label>
    </div>
    <div class="form-check mb-3">
        <input class="form-check-input" type="checkbox" value="true" id="xp_settings_show" name="show" checked="@Model.XpConfig.ShowLeveUpMessage"/>
        <label class="form-check-label" for="xp_settings_show">
            Show Level Up Message
        </label>
    </div>
    @await Component.InvokeAsync("ChannelSelect", new ChannelSelectModel()
   {
       Channels = StrippedChannel.FromGuild(@Model.Guild),
       SelectedChannelId = @Model.XpConfig.LevelUpChannel,
       ParentFormId = "xp_settings",
       Name = "channelId",
       Id = "xp_settings_channel",
       DisplayName = "Notification Channel"
   })
    <input class="btn btn-success" type="submit" value="Save"/>
</form>