@using kate.shared.Helpers
@using System.Collections.Generic
@using XeniaBot.WebPanel.Models
@using XeniaBot.WebPanel.Helpers
@model WarnGuildDetailsViewModel

@{
    ViewBag.Title = $"{Model.Guild.Name} - Warns";
    Layout = "_Layout";
}

@await Component.InvokeAsync("GuildBanner", new GuildBannerViewParameters(Model.Guild.Id, true,
new List<BreadcrumbItem>()
{
    new BreadcrumbItem("Servers", "Server", "List"),
    new BreadcrumbItem(Model.Guild.Name, "Server", "Index", new Dictionary<string, string>()
    {
        {"id", Model.Guild.Id.ToString()}
    }),
    new BreadcrumbItem("Warns")
}))

<a class="btn btn-outline-primary btn-sm mb-2" asp-area="" asp-route-id="@Model.Guild.Id" asp-controller="Server" asp-action="Index">Go Back</a>
@* <form id="apply_filter" enctype="application/x-www-form-urlencoded" method="get" asp-controller="WarnSystem" asp-action="GuildWarns" asp-route-id="@Model.Guild.Id"> *@
@*     <div class="form-group form-inline"> *@
@*         <input class="form-check-input" type="checkbox" value="" name="newer_than_enable" @(Model.EnableNewerThanFilter ? "checked" : "") /> *@
@*         <label class="form-check-label mr-2" for="newer_than">Filter Results Newer than</label> *@
@*         <input class="form-control form-control-sm" type="text" id="newer_than" name="newer_than" value="@Model.NewerThanDate" /> *@
@*         <button class="ml-3 btn btn-sm btn-success" type="submit"> *@
@*             <i class="bi bi-check"></i> *@
@*         </button> *@
@*     </div> *@
@* </form> *@

@if (!@Model.WarnItems.Any())
{
    <div class="px-4 py-5 my-5 text-center">
        <h4>No Warn Records Found</h4>
        <p>There were no warn records found for this guild.</p>
        
        <a class="btn btn-success pt-3" asp-controller="WarnSystem" asp-action="CreateWarnWizard" asp-route-id="@Model.Guild.Id">
            Create Warn
        </a>
    </div>
}
else
{
    <table class="table" id="warnSystemGuildList">
        <thead>
        <tr>
            <th>Target User</th>
            <th>Who Warned Them</th>
            <th>When</th>
            <th>Description</th>
            <th>
                <a class="btn btn-success btn-sm" asp-controller="WarnSystem" asp-action="CreateWarnWizard" asp-route-id="@Model.Guild.Id">
                    <i class="bi bi-plus"></i>
                </a>
            </th>
        </tr>
        </thead>
        <tbody>
            @foreach (var item in @Model.WarnItems.OrderByDescending(v => v.ModifiedAtTimestamp))
            {
                <tr>
                    <td>
                        <img src="@(Model.Client.GetUser(item.TargetUserId).GetAvatarUrl() ?? Model.Client.GetUser(item.TargetUserId).GetDefaultAvatarUrl())" class="card-img-top smallUserIcon" />
                        @Model.Client.GetUser(item.TargetUserId).ToString()
                    </td>
                    <td>
                        <img src="@(Model.Client.GetUser(item.ActionedUserId).GetAvatarUrl() ?? Model.Client.GetUser(item.ActionedUserId).GetDefaultAvatarUrl())" class="card-img-top smallUserIcon" />
                        @Model.Client.GetUser(item.ActionedUserId).ToString()
                    </td>
                    <td>
                        @(AspHelper.DateTimeFromTimestamp(item.CreatedAtTimestamp).ToString("yyyy/MM/dd HH:mm:ss tt"))
                    </td>
                    <td>
                        <code>
                            @item.Description.Substring(0, Math.Min(50, item.Description.Length))
                            @if (@item.Description.Length > 50)
                            {
                                <span>...</span>
                            }
                        </code>
                    </td>
                    <td>
                        <a class="btn btn-secondary btn-sm" asp-area="" asp-route-id="@item.WarnId" asp-controller="WarnSystem" asp-action="WarnInfo"><i class="bi bi-info"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <a class="btn btn-outline-primary btn-sm" asp-area="" asp-route-id="@Model.Guild.Id" asp-controller="Server" asp-action="Index">Go Back</a>
}

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#warnSystemGuildList').DataTable({
                "searching": true
            });
            $('.dataTables_length').addClass('bs-select');
            
            $("#newer_than").datepicker({
                changeMonth: true,
                changeYear: true
            });
        });
        
    </script>
}