@using kate.shared.Helpers
@using XeniaBot.WebPanel.Helpers
@model WarnGuildDetailsViewModel

@{
    ViewBag.Title = $"{Model.Guild.Name} - Warns";
    Layout = "_Layout";
}

<style>
    .smallUserIcon {
        height: 32px;
        width: initial !important;
        border-radius: 50%;
    }
</style>

<div class="d-flex flex-row align-items-center p-3 text-white rounded shadow-sm bg-dark mb-2">
    <img class="me-3 rounded-circle mr-3" src="@(Model.Guild.IconUrl ?? "/DebugEmpty.png")" alt="" width="48" height="48">
    <div class="lh-1">
        <h1 class="h6 mb-0 text-white lh-1">@Model.Guild.Name</h1>
        <small>@Model.Guild.MemberCount members &bull; @Model.WarnItems.Count warns</small>
    </div>
</div>

<a class="btn btn-outline-primary btn-sm mb-2" asp-area="" asp-route-id="@Model.Guild.Id" asp-controller="Server" asp-action="Index">Go Back</a>

@if (!@Model.WarnItems.Any())
{
    <div class="px-4 py-5 my-5 text-center">
        <h4>No Warn Records Found</h4>
        <p>There were no warn records found for this guild.</p>
    </div>
}
else
{
    <table class="table" id="warnSystemGuildList">
        <thead>
        <tr>
            <th>Target User</th>
            <th>Who Warned Them</th>
            <th>When</th>
            <th>Description</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            @foreach (var item in @Model.WarnItems.OrderByDescending(v => v.ModifiedAtTimestamp))
            {
                <tr>
                    <td>
                        <img src="@(Model.Client.GetUser(item.TargetUserId).GetAvatarUrl() ?? Model.Client.GetUser(item.TargetUserId).GetDefaultAvatarUrl())" class="card-img-top smallUserIcon" />
                        @Model.Client.GetUser(item.TargetUserId).ToString()
                    </td>
                    <td>
                        <img src="@(Model.Client.GetUser(item.ActionedUserId).GetAvatarUrl() ?? Model.Client.GetUser(item.ActionedUserId).GetDefaultAvatarUrl())" class="card-img-top smallUserIcon" />
                        @Model.Client.GetUser(item.ActionedUserId).ToString()
                    </td>
                    <td>
                        @(AspHelper.DateTimeFromTimestamp(item.CreatedAtTimestamp).ToString("yyyy/MM/dd HH:mm:ss tt"))
                    </td>
                    <td>
                        <code>
                            @item.Description.Substring(0, Math.Min(50, item.Description.Length))
                            @if (@item.Description.Length > 50)
                            {
                                <span>...</span>
                            }
                        </code>
                    </td>
                    <td>
                        <a class="btn btn-secondary" asp-area="" asp-route-id="@item.WarnId" asp-controller="WarnSystem" asp-action="WarnInfo"></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <a class="btn btn-outline-primary btn-sm" asp-area="" asp-route-id="@Model.Guild.Id" asp-controller="Server" asp-action="Index">Go Back</a>
    @section Scripts
    {
        <script type="text/javascript">
        $(document).ready(function () {
          $('#warnSystemGuildList').DataTable({
            "searching": true
          });
          $('.dataTables_length').addClass('bs-select');
        });
        </script>
    }
}