@using XeniaBot.Data.Models
@model ServerDetailsViewModel

<form class="mb-3" id="bansync_request" enctype="application/x-www-form-urlencoded" method="post" asp-controller="Server" asp-action="SaveSettings_BanSync_Request" asp-route-id="@Model.Guild.Id">
    @if (@Model.BanSyncConfig.State == BanSyncGuildState.Unknown)
    {
        <input class="btn btn-outline-primary" type="submit" value="Request" />
    }
    else
    {
        <input class="btn btn-outline-primary" type="submit" value="Request" disabled/>
    }
    @switch (@Model.BanSyncConfig.State)
    {
        case BanSyncGuildState.Active:
            <span class="m-1">Ban Sync is already enabled</span>
            break;
        case BanSyncGuildState.Blacklisted:
            <span class="m-1">Server is blacklisted. <pre><code>@Model.BanSyncConfig.Reason</code></pre></span>
            break;
        case BanSyncGuildState.PendingRequest:
            <span class="m-1">Pending approval</span>
            break;
        case BanSyncGuildState.RequestDenied:
            <span class="m-1">Request denied. Reason:</span> <pre><code>@Model.BanSyncConfig.Reason</code></pre>
            break;
    }
</form>
<form id="bansync_settings_channel" enctype="application/x-www-form-urlencoded" method="post" asp-controller="Server" asp-action="SaveSettings_BanSync" asp-route-id="@Model.Guild.Id">
    <div class="input-group mb-3">
        <span class="input-group-text" id="bansync_settings_channel_select">Channel</span>
        <select class="form-select" name="ChannelId" form="bansync_settings_channel" id="bansync_settings_channel_select">
            @if (@Model.BanSyncConfig.LogChannel == 0)
            {
                <option value="" selected>None</option>
            }
            else
            {
                <option value="">None</option>
            }
            @foreach (var channel in @Model.Guild.TextChannels)
            {
                @if (@channel.Id == @Model.BanSyncConfig.LogChannel)
                {
                    <option value="@channel.Id" selected>@channel.Name</option>
                }
                else
                {
                    <option value="@channel.Id">@channel.Name</option>
                }
            }
        </select>
    </div>
    <input class="btn btn-success" type="submit" value="Save"/>
</form>
