@using XeniaBot.Data.Models
@model ServerDetailsViewModel

<form id="counter_settings" enctype="application/x-www-form-urlencoded" method="post" asp-controller="Server" asp-action="SaveSettings_Counting" asp-route-id="@Model.Guild.Id">
    <div class="input-group mb-3">
        <span class="input-group-text" id="counter_settings_channelid">Channel</span>
        <select class="form-select" name="ChannelId" id="counter_settings_channelid" form="counter_settings">
            @if (@Model.CounterConfig.ChannelId == 0)
            {
                <option value="" selected>None</option>
            }
            else
            {
                <option value="">None</option>
            }
            @foreach (var channel in @Model.Guild.TextChannels)
            {
                @if (@channel.Id == @Model.CounterConfig.ChannelId)
                {
                    <option value="@channel.Id" selected>@channel.Name</option>
                }
                else
                {
                    <option value="@channel.Id">@channel.Name</option>
                }
            }
        </select>
    </div>
    <input class="btn btn-success" type="submit" value="Save"/>
</form>