@using XeniaBot.Data.Models
@model ServerDetailsViewModel

@{
    ViewBag.Title = @Model.Guild.Name;
    Layout = "_Layout";
}

<div class="d-flex flex-row align-items-center p-3 text-white rounded shadow-sm bg-dark">
    <img class="me-3 rounded-circle mr-3" src="@Model.Guild.IconUrl" alt="" width="48" height="48">
    <div class="lh-1">
        <h1 class="h6 mb-0 text-white lh-1">@Model.Guild.Name</h1>
        <small>@Model.Guild.MemberCount members</small>
    </div>
</div>
    
<div class="card mt-2">
    <div class="card-header p-0 border-0">
        <nav>
            <div class="nav nav-tabs pt-2 px-2" id="server-details-nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-details-tab" data-toggle="tab" href="#nav-details" role="tab" aria-controls="nav-details" aria-selected="true">Details</a>
                <a class="nav-item nav-link" id="nav-mod-tab" data-toggle="tab" href="#nav-mod" role="tab" aria-controls="nav-mod" aria-selected="false">Moderation</a>
                <a class="nav-item nav-link" id="nav-fun-tab" data-toggle="tab" href="#nav-fun" role="tab" aria-controls="nav-fun" aria-selected="false">Fun</a>
                <a class="nav-item nav-link" id="nav-greeter-tab" data-toggle="tab" href="#nav-greeter" role="tab" aria-controls="nav-greeter" aria-selected="false">Greeter</a>
                <a class="nav-item nav-link" id="nav-greeter-bye-tab" data-toggle="tab" href="#nav-greeter-bye" role="tab" aria-controls="nav-greeter-bye" aria-selected="false">Leave Greeter</a>
            </div>
        </nav>
    </div>
    <div class="card-body">
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-details" role="tabpanel" aria-labelledby="nav-details-tab">
                <h5>Use the tabs above to change your server settings.</h5>
                
                <div class="row d-flex flex-row">
                    <div class="m-1 col-auto">
                        <div class="card">
                            <div class="card-header card-header-sm">
                                <i class="bi bi-question-circle" style="color: var(--dark)"></i>
                                Who can access this dashboard?
                            </div>
                            <div class="card-body p-0">
                                <ul class="list-group m-1">
                                    @foreach (var user in @Model.UsersWhoCanAccess)
                                    {
                                        <li class="list-group-item">
                                            <img src="@user.GetAvatarUrl()" height="32" width="32" class="rounded-circle mx-2"/> @user.Username
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-mod" role="tabpanel" aria-labelledby="nav-mod-tab">
                @{ await Html.RenderPartialAsync("Details/Moderation"); }
            </div>
            <div class="tab-pane fade" id="nav-fun" role="tabpanel" aria-labelledby="nav-fun-tab">
                @{ await Html.RenderPartialAsync("Details/Fun"); }
            </div>
            <div class="tab-pane fade" id="nav-greeter" role="tabpanel" aria-labelledby="nav-greeter-tab">
                @{ await Html.RenderPartialAsync("Details/Settings/Greeter"); }
            </div>
            <div class="tab-pane fade" id="nav-greeter-bye" role="tabpanel" aria-labelledby="nav-greeter-bye-tab">
                @{ await Html.RenderPartialAsync("Details/Settings/GreeterGoodbye"); }
            </div>
        </div>
    </div>
</div>
