@using XeniaBot.Data.Models
@using XeniaBot.WebPanel.Helpers
@model ServerDetailsViewModel

@{
    ViewBag.Title = @Model.Guild.Name;
    Layout = "_Layout";
}

@await Component.InvokeAsync("GuildBanner", new GuildBannerViewParameters(Model.Guild.Id, true,
new List<BreadcrumbItem>()
{
    new BreadcrumbItem("Servers", "Server", "List"),
    new BreadcrumbItem(Model.Guild.Name)
}))
                
<div class="row d-flex flex-row">
    <div class="m-1 col-auto">
        <div class="card">
            <div class="card-header card-header-sm">
                <i class="bi bi-question-circle" style="color: var(--dark)"></i>
                Who can access this dashboard?
            </div>
            <div class="card-body p-0">
                <ul class="list-group m-1">
                    @foreach (var user in @Model.UsersWhoCanAccess)
                    {
                        <li class="list-group-item">
                            <img src="@AspHelper.GetUserProfilePicture(user)" height="32" width="32" class="rounded-circle mx-2"/> @user.DisplayName
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
<hr/>
<h3>Modules</h3>
<div class="row d-flex flex-row">
    <div class="m-1 col-auto">
        <div class="card card-sm">
            <div class="card-header">
                Moderation
            </div>
            <div class="card-body p-0">
                <ul class="list-group">
                    <li class="list-group-item">@await Model.Guild.GetBansAsync().CountAsync() bans registered</li>
                    <li class="list-group-item">@Model.WarnItems.Count warns stored</li>
                    <li class="list-group-item">
                        @if (@Model.BanSyncConfig.Enable)
                        {
                            <i class="bi bi-check-circle" style="color: var(--green);"></i> <span>BanSync Enabled</span>
                        }
                        else
                        {
                            <i class="bi bi-x-circle" style="color: var(--red);"></i> <span>BanSync Disabled</span>
                        }
                    </li>
                </ul>
                <div class="vertical-btn-list mt-2">
                    <a class="btn btn-outline-info"
                       asp-controller="WarnSystem"
                       asp-action="GuildWarns"
                       asp-route-id="@Model.Guild.Id">
                        Warns
                    </a>
                    <a class="btn btn-outline-info"
                       asp-action="ModerationView"
                       asp-route-id="@Model.Guild.Id">
                        View
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="m-1 col-auto">
        <div class="card card-sm">
            <div class="card-header">
                Fun
            </div>
            <div class="card-body p-0">
                <div class="vertical-btn-list">
                    <a class="btn btn-outline-info"
                       asp-action="CountingView"
                       asp-route-id="@Model.Guild.Id">
                        Counting
                    </a>
                    <a class="btn btn-outline-info"
                       asp-action="ConfessionView"
                       asp-route-id="@Model.Guild.Id">
                        Confessions
                    </a>
                    <a class="btn btn-outline-info"
                       asp-action="LevelSystemView"
                       asp-route-id="@Model.Guild.Id">
                        Level System
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="m-1 col-auto">
        <div class="card card-sm">
            <div class="card-header">
                Greeter
            </div>
            <div class="card-body p-0">
                <div class="vertical-btn-list">
                    <a class="btn btn-outline-info"
                       asp-controller="Server" asp-action="GreeterJoinView" asp-route-id="@Model.Guild.Id">
                        On Join
                    </a>
                    <a class="btn btn-outline-info"
                       asp-controller="Server" asp-action="GreeterLeaveView" asp-route-id="@Model.Guild.Id">
                        On Leave
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
