@using XeniaBot.Data.Models
@model ServerDetailsViewModel

@{
    ViewBag.Title = @Model.Guild.Name;
    Layout = "_Layout";
}

<div class="jumbotron">
    <div class="d-flex flex-row align-items-center p-3 text-white rounded shadow-sm bg-dark">
        <img class="me-3 rounded-circle" src="@Model.Guild.IconUrl" alt="" width="48" height="48">
        <div class="lh-1">
            <h1 class="h6 mb-0 text-white lh-1">@Model.Guild.Name</h1>
            <small>@Model.Guild.MemberCount members</small>
        </div>
    </div>
    @if (@Model.Message != null)
    {
        <div class="alert alert-@Model.MessageType" role="alert">
            @Model.Message
        </div>
    }
    <div class="d-flex flex-wrap" style="margin: 0 -1rem">
        <div class="card m-3">
            <div class="card-header" id="bansync">Ban Sync</div>
            <div class="card-body">
                <form class="mb-3" id="bansync_request" enctype="application/x-www-form-urlencoded" method="post" asp-controller="Server" asp-action="SaveSettings_BanSync_Request" asp-route-id="@Model.Guild.Id">
                    @if (@Model.BanSyncConfig.State == BanSyncGuildState.Unknown)
                    {
                        <input class="btn btn-outline-primary" type="submit" value="Request" />
                    }
                    else
                    {
                        <input class="btn btn-outline-primary" type="submit" value="Request" disabled/>
                    }
                    @switch (@Model.BanSyncConfig.State)
                    {
                        case BanSyncGuildState.Active:
                            <span class="m-1">Ban Sync is already enabled</span>
                            break;
                        case BanSyncGuildState.Blacklisted:
                            <span class="m-1">Server is blacklisted. <pre><code>@Model.BanSyncConfig.Reason</code></pre></span>
                            break;
                        case BanSyncGuildState.PendingRequest:
                            <span class="m-1">Pending approval</span>
                            break;
                        case BanSyncGuildState.RequestDenied:
                            <span class="m-1">Request denied. Reason:</span> <pre><code>@Model.BanSyncConfig.Reason</code></pre>
                            break;
                    }
                </form>
                <form id="bansync_settings_channel" enctype="application/x-www-form-urlencoded" method="post" asp-controller="Server" asp-action="SaveSettings_BanSync" asp-route-id="@Model.Guild.Id">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="bansync_settings_channel_select">Channel</span>
                        <select class="form-select" name="ChannelId" form="bansync_settings_channel" id="bansync_settings_channel_select">
                            @if (@Model.BanSyncConfig.LogChannel == 0)
                            {
                                <option value="" selected>None</option>
                            }
                            else
                            {
                                <option value="">None</option>
                            }
                            @foreach (var channel in @Model.Guild.TextChannels)
                            {
                                @if (@channel.Id == @Model.BanSyncConfig.LogChannel)
                                {
                                    <option value="@channel.Id" selected>@channel.Name</option>
                                }
                                else
                                {
                                    <option value="@channel.Id">@channel.Name</option>
                                }
                            }
                        </select>
                    </div>
                    <input class="btn btn-success" type="submit" value="Save"/>
                </form>
            </div>
        </div>
        <div class="card m-3">
            <div class="card-header" id="counting">
                Counting
            </div>
            <div class="card-body">
                <form id="counter_settings" enctype="application/x-www-form-urlencoded" method="post" asp-controller="Server" asp-action="SaveSettings_Counting" asp-route-id="@Model.Guild.Id">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="counter_settings_channelid">Channel</span>
                        <select class="form-select" name="ChannelId" id="counter_settings_channelid" form="counter_settings">
                            @if (@Model.CounterConfig.ChannelId == 0)
                            {
                                <option value="" selected>None</option>
                            }
                            else
                            {
                                <option value="">None</option>
                            }
                            @foreach (var channel in @Model.Guild.TextChannels)
                            {
                                @if (@channel.Id == @Model.CounterConfig.ChannelId)
                                {
                                    <option value="@channel.Id" selected>@channel.Name</option>
                                }
                                else
                                {
                                    <option value="@channel.Id">@channel.Name</option>
                                }
                            }
                        </select>
                    </div>
                    <input class="btn btn-success" type="submit" value="Save"/>
                </form>
            </div>
        </div>
        <div class="card m-3">
            <div class="card-header" id="xp">
                Level System
            </div>
            <div class="card-body">
                <form id="xp_settings" enctype="application/x-www-form-urlencoded" method="post" asp-controller="Server" asp-action="SaveSettings_Xp" asp-route-id="@Model.Guild.Id">
                    <div class="input-group mb-3">
                        <span class="input-group-text" for="xp_settings_channel">Notification Channel</span>
                        <select class="form-select" name="channelId" id="xp_settings_channel" form="xp_settings">
                            @if (@Model.XpConfig.LevelUpChannel == 0)
                            {
                                <option value="" selected>None</option>
                            }
                            else
                            {
                                <option value="">None</option>
                            }
                            @foreach (var channel in @Model.Guild.TextChannels)
                            {
                                @if (@channel.Id == @Model.XpConfig.LevelUpChannel)
                                {
                                    <option value="@channel.Id" selected>@channel.Name</option>
                                }
                                else
                                {
                                    <option value="@channel.Id">@channel.Name</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="true" id="xp_settings_show" name="show" checked="@Model.XpConfig.ShowLeveUpMessage"/>
                        <label class="form-check-label" for="xp_settings_show">
                            Show Level Up Message
                        </label>
                    </div>
                    <input class="btn btn-success" type="submit" value="Save"/>
                </form>
            </div>
        </div>
    </div>
</div>
