@using XeniaBot.Data.Models
@model ServerDetailsViewModel

@{
    ViewBag.Title = @Model.Guild.Name;
    Layout = "_Layout";
}

<style>
    .card-parent {
        margin: -0.5rem -1rem 0;
    }
    .header-separator {
        height: 1rem;
    }
</style>

<div class="jumbotron">
    <div class="d-flex flex-row align-items-center p-3 text-white rounded shadow-sm bg-dark">
        <img class="me-3 rounded-circle" src="@Model.Guild.IconUrl" alt="" width="48" height="48">
        <div class="lh-1">
            <h1 class="h6 mb-0 text-white lh-1">@Model.Guild.Name</h1>
            <small>@Model.Guild.MemberCount members</small>
        </div>
    </div>
    @if (@Model.Message != null)
    {
        <div class="alert alert-@Model.MessageType" role="alert">
            @Model.Message
        </div>
    }
    <div class="header-separator">
    </div>
    <h2 id="moderation">Moderation</h2>
    <div class="d-flex flex-wrap card-parent">
        <div class="card m-3">
            <div class="card-header" id="bansync">Ban Sync</div>
            <div class="card-body">
                @{ await Html.RenderPartialAsync("Settings/BanSync"); }
            </div>
        </div>
        <div class="card m-3">
            <div class="card-header" id="log">Logging</div>
            <div class="card-body">
                @{ await Html.RenderPartialAsync("Settings/Logging"); }
            </div>
        </div>
    </div>
    <hr/>
    <h2 id="fun">Fun</h2>
    <div class="d-flex flex-wrap card-parent">
        <div class="card m-3">
            <div class="card-header" id="counting">
                Counting
            </div>
            <div class="card-body">
                @{ await Html.RenderPartialAsync("Settings/Counting"); }
            </div>
        </div>
        <div class="card m-3">
            <div class="card-header" id="xp">
                Level System
            </div>
            <div class="card-body">
                @{ await Html.RenderPartialAsync("Settings/LevelSystem"); }
            </div>
        </div>
    </div>
</div>
