@using XeniaBot.Data
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ServerListViewModel
@{
    ViewBag.Title = "Servers";
    Layout = "_Layout";
}
<style>
    .serverListIcon {
        width:  4rem;
        height:  4rem;
        border-bottom-left-radius: .25rem;
        border-top-left-radius: .25rem;
    }
</style>
@if (!@Model.Items.Any())
{
    <div class="px-4 py-5 my-5 text-center">
        <h4>No servers found</h4>
        <p>You either don't share any mutual servers with Xenia Bot<br/>
            <strong>or</strong> you don't have the <code>Manage Server</code> permission in any servers that you share with Xenia.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a class="btn btn-success mx-2" href="https://r.kate.pet/xeniadiscord">Invite Xenia</a>
        </div>
    </div>
}
else
{
    <div class="btn-group mb-2" role="group" aria-label="Server List Style">
        @if (@Model.UserConfig.ListViewStyle == ListViewStyle.List)
        {
            <a class="btn btn-primary" href="/Server/List?style=0" alt="List"><i class="bi bi-view-list"></i></a>
        }
        else
        {
            <a class="btn btn-outline-primary" href="/Server/List?style=0" alt="List"><i class="bi bi-view-list"></i></a>
        }
        
        @if (@Model.UserConfig.ListViewStyle == ListViewStyle.Grid)
        {
            <a class="btn btn-primary" href="/Server/List?style=1" alt="Grid"><i class="bi bi-grid"></i></a>
        }
        else
        {
            <a class="btn btn-outline-primary" href="/Server/List?style=1" alt="Grid"><i class="bi bi-grid"></i></a>
        }
    </div>
    @if (@Model.UserConfig.ListViewStyle == ListViewStyle.Grid)
    {
        <div class="d-flex flex-wrap">
        @foreach (var item in @Model.Items.OrderByDescending(v => v.Guild.OwnerId == v.GuildUser.Id))
        {
            <div class="card mb-3 m-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="@(item.Guild.IconUrl ?? "~/Debugempty.png")" class="card-img-top serverListIcon"/>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            @if (@item.Guild.OwnerId == @item.GuildUser.Id)
                            {
                                <i class="bi bi-star-fill" style="color: var(--yellow)" alt="Server Owner"></i>
                            }
                            else if (@item.GuildUser.GuildPermissions.Administrator)
                            {
                                <i class="bi bi-star-fill" style="color: var(--secondary);" alt="Server Administrator"></i>
                            }
                            <a asp-area="" asp-route-id="@item.Guild.Id" asp-controller="Server" asp-action="Index">@item.Guild.Name</a>
                        </div>
                    </div>
                </div>
            </div>
        }
        </div>
    } else
    {
        <table class="table">
            <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Members</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                @foreach (var item in @Model.Items.OrderByDescending(v => v.Guild.OwnerId == v.GuildUser.Id))
                {
                    <tr>
                        <td><img src="@(item.Guild.IconUrl ?? "~/Debugempty.png")" class="card-img-top serverListIcon"/></td>
                        <td>
                            @if (@item.Guild.OwnerId == @item.GuildUser.Id)
                            {
                                <i class="bi bi-star-fill" style="color: var(--yellow)" alt="Server Owner"></i>
                            }
                            else if (@item.GuildUser.GuildPermissions.Administrator)
                            {
                                <i class="bi bi-star-fill" style="color: var(--secondary);" alt="Server Administrator"></i>
                            }
                            @item.Guild.Name
                        </td>
                        <td>@item.Guild.MemberCount</td>
                        <td><a class="btn btn-secondary" asp-area="" asp-route-id="@item.Guild.Id" asp-controller="Server" asp-action="Index"><i class="bi bi-speedometer"></i></a></td>
                    </tr>
                }
            </tbody>
        </table>
    }
}
<ul class="p-0" style="list-style: none">
    <li>
        <strong><i class="bi bi-info-circle-fill"></i> Flags</strong>
    </li>
    <li>
        <i class="bi bi-star-fill" style="color: var(--yellow)" alt="Yellow Star"></i> Server Owner
    </li>
    <li>
        <i class="bi bi-star-fill" style="color: var(--secondary);" alt="Silver Star"></i> Has <code>Administrator</code> Permission
    </li>
</ul>
