@using XeniaBot.WebPanel.Helpers
@model BanSyncRecordViewModel

@{
    ViewBag.Title = "BanSync Record";
    Layout = "_Layout";
}

<div class="container">
    <h1 class="mb-0">BanSync Record Details</h1>
    <sup>@Model.Record.RecordId</sup>
    <p>
        <img src="@(AspHelper.GetUserProfilePicture(Model.Record.UserId))"
             class="smallUserIcon" />
        <code alt="@Model.Record.UserId">@Model.Record.UserName#@Model.Record.UserDiscriminator</code>
        was banned in 
        <code alt="@Model.Record.GuildId">@Model.Record.GuildName</code>
        at
        <code>@(AspHelper.DateTimeFromTimestamp(Model.Record.Timestamp).ToString("yyyy/MM/dd HH:mm:ss tt"))</code>
    </p>
    <h4>Reason</h4>
    <textarea class="form-control" readonly>@Model.Record.Reason</textarea>
    @if (AspHelper.IsCurrentUserAdmin(this.Context))
    {
        <hr/>
        <label for="ghost-record">Set Ghost State</label>
        <div class="btn-group" id="host-record" role="group" aria-label="Ghost Record">
            <a class="btn btn-sm btn-outline-dark" asp-controller="ServerBanSync" asp-action="GhostEnable" asp-route-id="@(Model.Record.RecordId)">True</a>
            <a class="btn btn-sm btn-outline-dark" asp-controller="ServerBanSync" asp-action="GhostDisable" asp-route-id="@(Model.Record.RecordId)">False</a>
        </div>
    }
</div>