@using XeniaBot.WebPanel.Helpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model XeniaBot.WebPanel.Models.Component.BanSyncMutualRecordsListComponentViewModel

@foreach (var item in @Model.Items)
{
    <tr
        @{
            if (Model.IsLastPage == false && Model.IsItemLast(item))
            {
                <text>
                    hx-get="/Server/@Model.Guild.Id/BanSync/ListComponent?cursor=@(Model.Cursor + 1)"
                    hx-trigger="revealed"
                    hx-target="#banSyncRecordContainer"
                    hx-swap="beforeend"
                    hx-indicator=".htmx-indicator"</text>
        } }>
        <td>
            <img src="@(AspHelper.GetUserProfilePicture(item.GetUserId()))"
                 class="card-img-top smallUserIcon" />
            @item.UserPartialSnapshot.FormatUsername()
        </td>
        <td>
            <img src="@(AspHelper.GetGuildImage(item.GetGuildId()))"
                 class="card-img-top smallUserIcon" />
            @item.GuildName
        </td>
        <td>
            @item.CreatedAt.ToString("yyyy/MM/dd HH:mm:ss tt")
        </td>
        <td>
            <code>
                @{
                    var reasonText = item.Reason?.Trim();
                    if (reasonText != null)
                    {
                        var pl = reasonText.Length;
                        reasonText = reasonText.Substring(0, Math.Min(50, reasonText.Length));
                        if (reasonText.Length != pl)
                        {
                            reasonText += "...";
                        }
                    }
                }
                @reasonText
            </code>
        </td>
        <td>
            <a class="btn btn-secondary"
               asp-route-id="@(item.Id)"
               asp-controller="ServerBanSync"
               asp-action="RecordInfo"></a>
        </td>
    </tr>
}
