@using XeniaBot.Data.Models
@using XeniaBot.WebPanel.Helpers
@model ServerBanSyncViewModel

@{
    ViewBag.Title = "BanSync - " + @Model.Guild.Name;
    Layout = "_Layout";
}

<div class="d-flex flex-row align-items-center p-3 text-white rounded shadow-sm bg-dark mb-2">
    <img class="me-3 rounded-circle mr-3" src="@(Model.Guild.IconUrl ?? "/DebugEmpty.png")" alt="" width="48" height="48">
    <div class="lh-1">
        <h1 class="h6 mb-0 text-white lh-1">@Model.Guild.Name</h1>
        <small>@Model.Guild.MemberCount members &bull; @Model.BanSyncRecordCount records &bull; <a asp-controller="Server" asp-action="Index" asp-route-id="@Model.Guild.Id">Go Back</a></small>
    </div>
    
</div>
@if (Model.BanSyncRecordCount< 1)
{
    @if (@Model.FilterRecordsByUserId != null)
    {
        <div class="px-4 py-5 my-5 text-center">
            <h4>No Records Matching User were found</h4>
            <p>No records for the user provided were found.<br/>
                <a asp-controller="ServerBanSync" asp-action="Index" asp-route-id="@Model.Guild.Id" class="btn btn-outline-dark btn-sm">See All Records</a></p>
        </div>
    }
    else
    {
        <div class="px-4 py-5 my-5 text-center">
            <h4>No Records Found</h4>
            <p>No members in your server have any records in the database.</p>
        </div>
    }
}
else
{
    <table class="table table-bordered table-sm table-fs-listing" id="bansyncGuildList">
        <thead>
        <tr>
            <th>User</th>
            <th>Guild</th>
            <th>Timestamp</th>
            <th>Reason</th>
            <th></th>
        </tr>
        </thead>
        <tbody
            hx-get="/Server/@Model.Guild.Id/BanSync/ListComponent"
            hx-target="this"
            hx-swap="innerHTML"
            hx-trigger="load"
            hx-indicator=".htmx-indicator"
            id="banSyncRecordContainer">
        </tbody>
    </table>
}
