@using XeniaBot.Data.Models
@using XeniaBot.WebPanel.Helpers
@model ServerBanSyncViewModel

@{
    ViewBag.Title = "BanSync - " + @Model.Guild.Name;
    Layout = "_Layout";
}

<div class="d-flex flex-row align-items-center p-3 text-white rounded shadow-sm bg-dark mb-2">
    <img class="me-3 rounded-circle mr-3" src="@(Model.Guild.IconUrl ?? "/DebugEmpty.png")" alt="" width="48" height="48">
    <div class="lh-1">
        <h1 class="h6 mb-0 text-white lh-1">@Model.Guild.Name</h1>
        <small>@Model.Guild.MemberCount members &bull; @Model.BanSyncRecords.Count records &bull; <a asp-controller="Server" asp-action="Index" asp-route-id="@Model.Guild.Id">Go Back</a></small>
    </div>
    
</div>
@if (!@Model.BanSyncRecords.Any())
{
    @if (@Model.FilterRecordsByUserId != null)
    {
        <div class="px-4 py-5 my-5 text-center">
            <h4>No Records Matching User were found</h4>
            <p>No records for the user provided were found.<br/>
                <a asp-controller="ServerBanSync" asp-action="Index" asp-route-id="@Model.Guild.Id" class="btn btn-outline-dark btn-sm">See All Records</a></p>
        </div>
    }
    else
    {
        <div class="px-4 py-5 my-5 text-center">
            <h4>No Records Found</h4>
            <p>No members in your server have any records in the database.</p>
        </div>
    }
}
else
{
    <table class="table" id="bansyncGuildList">
        <thead>
        <tr>
            <th>User</th>
            <th>Guild</th>
            <th>Timestamp</th>
            <th>Reason</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in @Model.BanSyncRecords.OrderByDescending(v => v.Timestamp))
        {
            <tr>
                <td>
                    <img src="@(AspHelper.GetUserProfilePicture(item.UserId))"
                         class="card-img-top smallUserIcon" />
                    @item.UserName#@item.UserDiscriminator
                </td>
                <td>
                    <img src="@(AspHelper.GetGuildImage(item.GuildId))"
                         class="card-img-top smallUserIcon" />
                    @item.GuildName
                </td>
                <td>
                    @(AspHelper.DateTimeFromTimestamp(item.Timestamp, true).ToString("yyyy/MM/dd HH:mm:ss tt"))
                </td>
                <td>
                    <code>
                        @item.Reason.Substring(0, Math.Min(50, item.Reason.Length))
                        @if (@item.Reason.Length > 50)
                        {
                            <span>...</span>
                        }
                    </code>
                </td>
                <td>
                    <a class="btn btn-secondary"
                       asp-area=""
                       asp-route-id="@(item.UserId + "_" + item.GuildId)"
                       asp-controller="ServerBanSync"
                       asp-action="RecordInfo"></a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}

@section Scripts
{
    <script type="text/javascript">
    $(document).ready(function () {
      $('#bansyncGuildList').DataTable({
        "searching": true
      });
      $('.dataTables_length').addClass('bs-select');
    });
    </script>
}
