@using kate.shared.Helpers
@using XeniaBot.Data.Models
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model XeniaBot.WebPanel.Models.Component.AdminBanSyncComponentViewModel

@if (@Model.Message != null)
{
    <div class="@(Model.MessageClass) mb-2" role="alert">
        @Model.Message
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

@if (@Model.BanSyncConfig.LogChannel == 0)
{
    <div class="alert alert-sm alert-warning mb-2" role="alert">
        Log Channel isn't set.
    </div>
}
<form
    hx-post="/Admin/Server/@Model.Guild.Id/Settings/BanSync/State"
    hx-target="#settingsBanSync-body"
    hx-swap="innerHTML"
    hx-indicator="#settingsBanSync-body .htmx-indicator"
    id="settingsBanSync">
@* <form id="setting_bansync" enctype="application/x-www-form-urlencoded" method="post" asp-controller="Admin" asp-action="SaveSettings_BanSyncState" asp-route-id="@Model.Guild.Id"> *@
    <div class="input-group mb-2">
        <div class="input-group-prepend">
            <label class="input-group-text" for="setting_bansync_state" style="width: 6rem">State</label>
        </div>
        <select class="custom-select" name="state" id="setting_bansync_state" form="settingsBanSync">
            @foreach (var item in GeneralHelper.GetEnumList<BanSyncGuildState>())
            {
                if (@item == @Model.BanSyncConfig.State)
                {
                    <option value="@item" selected>@item</option>
                }
                else
                {
                    <option value="@item">@item</option>
                }
            }
        </select>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="setting_bansync_reason" style="width: 6rem">Reason</label>
        </div>
        <input type="text" class="form-control" name="Reason" id="setting_bansync_reason" form="settingsBanSync"/>
    </div>
    <input class="btn btn-success" type="submit" value="Submit" form="settingsBanSync"/>
</form>
<a class="btn btn-info mt-2" asp-controller="Admin" asp-action="BanSync_Refresh" asp-route-id="@Model.Guild.Id">Refresh Bans</a>
<div class="d-flex justify-content-center">
    <div class="spinner-border htmx-indicator" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>