@using XeniaBot.WebPanel.Helpers
@model XeniaBot.WebPanel.Models.Component.AdminBanSyncComponentViewModel


@if (@Model.BanSyncStateHistory.Count() < 1)
{
    <i>No records</i>
}
else
{
    <table class="table table-responsive" id="banSyncStateHistory">
        <thead>
        <tr>
            <th>Timestamp</th>
            <td>Enable</td>
            <td>State</td>
            <td>Reason</td>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in @Model.BanSyncStateHistory.OrderBy(v => v.Timestamp))
        {
            <tr>
                <th>@(AspHelper.DateTimeFromTimestamp(@item.Timestamp).ToString())</th>
                <td>@item.Enable</td>
                <td>@item.State</td>
                <td><code>@item.Reason</code></td>
            </tr>
        }
        </tbody>
    </table>
}