@model XeniaBot.WebPanel.Models.UserSelectModel
@using Discord.WebSocket
<div class="form-group mb-3">
    <label for="@Model.Id">@Model.DisplayName</label>
    <select class="form-control custom-select" name="@Model.Name" id="@Model.Id" form="@Model.ParentFormId" @(Model.Required ? "required" : "")> 
        @await Component.InvokeAsync("UserSelectRaw", @Model);
    </select>
</div>