@using XeniaBot.WebPanel.Models
@using Discord.WebSocket
@model RoleSelectComponentModel

@if (Model.InputGroup)
{
    <div class="input-group mb-3">
        <span class="input-group-text" id="@(Model.Id)-label" style="width: 12rem;">@Model.DisplayName</span>
        <select class="form-select" name="@Model.Name" id="@Model.Id" form="@Model.ParentFormId" @(Model.Required ? "required" : "") aria-describedby="@(Model.Id)-label">
            @await Component.InvokeAsync("RoleSelectRaw", new RoleSelectRawComponentModel()
                   {
                       Roles = @Model.Roles,
                       SelectedRoleId = @Model.SelectedRoleId
                   });
        </select>
    </div>
}
else
{
    <div class="form-group mb-3">
        <label class="form-label" for="@Model.Id">@Model.DisplayName</label>
        <select class="form-select" name="@Model.Name" id="@Model.Id" form="@Model.ParentFormId" @(Model.Required ? "required" : "")>
            @await Component.InvokeAsync("RoleSelectRaw", new RoleSelectRawComponentModel()
                   {
                       Roles = @Model.Roles,
                       SelectedRoleId = @Model.SelectedRoleId
                   });
        </select>
    </div>
}

