@model XeniaBot.WebPanel.Models.ChannelSelectModel
@using Discord.WebSocket
@if ((Model.SelectedChannelId ?? 0) == 0)
{
    <option value="" selected>None</option>
}
else
{
    <option value="">None</option>
}
<hr/>
@foreach (var channel in Model.Channels.OrderBy(v => v.Position))
{
    bool contains = false;
    foreach (var category in Model.Categories)
    {
        if (category.ChannelIds.Contains(channel.Id))
            contains = true;
    }
    if (contains == false)
    {
        @if (@channel.Id == Model.SelectedChannelId)
        {
            <option value="@channel.Id" selected>@channel.Name</option>
        }
        else
        {
            <option value="@channel.Id">@channel.Name</option>
        }
    }
}
<hr/>
@foreach (var category in Model.Categories.OrderBy(v => v.Position))
{
    <optgroup label="@category.Name">
        @foreach (var channel in Model.Channels.OrderBy(v => v.Position))
        {
            if (category.ChannelIds.Contains(channel.Id))
            {
                @if (@channel.Id == Model.SelectedChannelId)
                {
                    <option value="@channel.Id" selected>@channel.Name</option>
                }
                else
                {
                    <option value="@channel.Id">@channel.Name</option>
                }
            }
        }
    </optgroup>
}

